<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <a class="nav-item nav-link" href="/register">Create New Account</a>
        <a class="nav-item nav-link" href="/about">Notes, Citations, Thank you's</a>
        <a class="nav-item nav-link" href="/login">My URLs</a>
      </div>
    </div>
     <!-- Display email if logged in -->
     <!-- Logout Form -->
    <% if (user_Email) { %>
      <form class="form-inline" action="/logout" method="POST">
      <div class="form-group mb-2">
        <label for="logout"></label>
        <p class="navbar-text">Logged in as: <%= user_Email %></p>
        <button type="submit" class="btn btn-primary">Logout</button>
    <% } else { %>
       <!-- login form -->
    <form class="form-inline" action="/login" method="POST">
      <div class="form-group mb-2">
        <label for="login"></label>
        <input
          class="form-control"
          type="text"
          name="user_Email"
          placeholder="user_Email"
          id="login"
          autocomplete="on"
          style="width: 300px; margin: 1em"
        />
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
    <% } %>
  </nav>
</header>