<!-- can use ! + enter or ! + tab to pre-load the HTML Skeleton -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <%- include('partials/_header') %>
  </header>
  <main style="margin: 1em;">
    <h3>Registration Page</h3>
    <p> To get started with your URL Shortening Experience. You will need to create a unique Username and Password.</p>
</body>
</html>