<!-- can use ! + enter or ! + tab to pre-load the HTML Skeleton -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta
name="viewport"
content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>


<!-- Bootstrap CSS -->
<link
rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
crossorigin="anonymous"
/>
<title>Registration Page</title>
</head>
<body>
<header>
<%- include('partials/_header') %>
</header>
<main style="margin: 1em;">
<h3>Register Here</h3>
<p> To get started with your URL Shortening Experience. You will need to enter your e-mail and a Password.</p>
<!-- E-mail Form -->
<form method="POST" action="/register/email">
<label for="email">Email:</label>
<input class="form-control" type="email" name="email" value="" placeholder="" style="width: 300px; margin: 1em">
<button type="submit" class="btn btn-primary">Submit</button>
</form>
<!-- Password Form -->
<form>
<label for="password"></label>
Password:
<form method="POST" action="/register/password"></form>
<input class="form-control" type="password" name="password" value="" placeholder="" >
<button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html> 