<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta
name="viewport"
content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>


<!-- Bootstrap CSS -->
<link
rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
crossorigin="anonymous"
/>
<title>Registration Page</title>
</head>
<body>
<header>
<%- include('partials/_header') %>
</header>
<main style="margin: 1em;">
<h3>Register Here</h3>
<p> To get started with your URL Shortening Experience. You will need to enter your e-mail and a Password.</p>
<!-- E-mail Form -->
<form method="POST" action="/register">
<label for="email">Email:</label>
<input class="form-control" type="email" name="email" placeholder="Email" autocomplete="on" style="width: 300px; margin: 1em">
<!-- Password Form -->
<label for="password">Password:</label>
<!-- removed from both forms the "/register/______ routes" added register to value, unnested forms to 1 form, created 1 registration button instead of 2, removed value as it will auto fill that value instead of the user inputing thier own info in the text boxes. -->
<input class="form-control" type="password" name="password"  placeholder="Password" autocomplete="on">
<button type="submit" class="btn btn-primary">Register</button>
</form>
</body>
</html> 